@charset "utf-8";

// Import a Google Font

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$family-sans-serif: "Poppins", sans-serif;


$yellow: #f9cb0f;
$link: #502829;

$footer-padding: 3rem 1.5rem 3rem;

$light-fff: #fff;
$dark-333: #333333;

$warning: $yellow;

// $button-ghost-border-color: transparent;
// $button-ghost-decoration: none;
 $button-ghost-hover-decoration: none;
// $button-ghost-background: none;



$button-focus-box-shadow-color: none;

// Define CSS Class

.is-no-focus-outline {
  &:hover,
  &:focus,
  &:active {
    outline-color: transparent !important;
    outline: none !important;
  }
}

.pr-10 {
  padding-right: 2.5rem !important;
}

.ml-10 {
  margin-left: 2.5rem !important;
}
.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}



@media screen and (min-width: 1024px) {
  .hero-paragraph-padding {
    padding-bottom: 15rem;
  }
}



@media screen and (max-width: 768px) {
  .is-hero-item-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

// .navbar-menu {
//   transition: transform 0.3s ease-in-out !important;
//   transform: translateY(100%) !important;
// }

// .navbar-menu.is-active {
//   transform: translateY(0) !important;
// }

.navbar-burger {
  &:hover {
    background-color: transparent !important;
  }
}

.mobile-menu {
  color: #fcfcfc;
  -webkit-animation: menuAnimation 300ms ease;
  animation: menuAnimation 300ms ease;
}

@-webkit-keyframes menuAnimation {
  0% {
    margin-left: -100px;
  }
  100% {
    margin-left: 0;
  }
}

@keyframes menuAnimation {
  0% {
    margin-left: -100px;
  }
  100% {
    margin-left: 0;
  }
}

// @-webkit-keyframes menuAnimation {
//   0% {
//     display: none;
//     opacity: 0;
//     transform: translateX(20px);
//   }

//   1% {
//     display: block;
//   }

//   100% {
//     opacity: 1;
//     transform: translateX(0);
//   }
// }

// @keyframes menuAnimation {
//   0% {
//     display: none;
//     opacity: 0;
//     transform: translateX(20px);
//   }

//   1% {
//     display: block;
//   }

//   100% {
//     opacity: 1;
//     transform: translateX(0);
//   }
// }

/* .navbar-menu {
  &:hover {
    background-color: transparent !important;
    animation: fadeInUp ease-in 0.5s !important;
  }
}

@keyframes fadeInUp {
  0% {
    display: none;
    opacity: 0;
    transform: translateX(20px);
  }

  1% {
    display: block;
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
} */

.btn {
  font-size: 14px !important;
  line-height: 60px !important;
  font-weight: 500 !important;
  color: $link !important;
}

.home-first-section-column-text {
  h4 {
    font-size: 29px !important;
    line-height: 1 !important;
    color: $light-fff;
    word-wrap: break-word !important;
    max-width: 55% !important;
    font-weight: 800 !important;
    text-transform: uppercase !important;
  }
}

.btn-cta {
  display: inline-block;
  background-color: $light-fff;
  color: $dark-333;
  font-size: 12px;
  padding: 11px 16px;
  margin-top: 15px;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  position: relative;
  font-weight: bold;
}

.home-second-section-column-bg {
  background: url("./assets/unnamed3.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar-item img {
  max-height: 5rem !important;
}

// Import only what you need from Bulma

@import "../node_modules/bulma/bulma.sass";